*/__pycache__/
.vscode/
*/.idea/
.idea/*
.idea
*.pyc

workspace.xml

src/Session.vim
src/Session.vim.35846.obsession~
src/Session.vim.35846.obsession~.35846.obsession~
src/Session.vim.36113.obsession~
session